.text-green {
  color: #4caf50;
}

.text-blue-50{
  color: #1c0a4e;
}

.text-blue {
  color: #24096d !important;
}

.text-black {
  color: #000 !important;
}

.text-red {
  color: rgb(196, 29, 29);
}

.text-black-45 {
  color: rgba(0, 0, 0, 0.45);
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7);
}

.bg-black-02 {
  background-color: rgba(71, 16, 16, 0.02);
}
